.color-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--white);
  border-radius: 1rem;
  padding: 0.5rem;
}

.color-switcher .color-box {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.color-switcher .green {
  background: #16a34a;
}

.color-switcher .pink {
  background: #db2777;
}

.color-switcher .orange {
  background: #ea580c;
}

.color-switcher .light-green {
  background: #0d9488;
}

/* Change default color to green */
.color-switcher .default {
  background: #16a34a;
}
